@model List<GuestReservationDto>
@{
    ViewData["Title"] = "სტუმრები - ჯავშნები";
}

<div class="row">
    <a class="btn btn-success w-25 btn btn-primary" asp-controller="Guests" asp-action="Create">ახალი სტუმარი</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>ტელეფონი</th>
                <th>ვადა</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gr in Model)
            {
                <tr>
                    <td>@gr.FirstName @gr.LastName</td>
                    <td>@gr.PhoneNumber</td>
                    <td>@gr.CheckOutDate</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Guests" asp-action="Delete" asp-route-id="@gr.Id">წაშლა</a>
                        <a class="btn btn-info" asp-controller="Guests" asp-action="Update" asp-route-id="@gr.Id">განახლება</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
